---
import BackHomeButton from "../ui/BackHomeButton.astro";
export type Props = {
  title: string;
};

const isHome = Astro.url.pathname === "/";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="grid place-items-center">
    {isHome ? null : <BackHomeButton />}

    {
      isHome ? null : (
        <h1 class="absolute bg-white left-1/2 px-2 py-1.5 rounded top-4">
          {Astro.props.title}
        </h1>
      )
    }
    <slot />
    <canvas></canvas>
  </body>
</html>
