---
export type Props = {
  title: string;
};

const isHome = Astro.url.pathname === "/";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="p-4">
    {
      isHome ? null : (
        <nav class="py-2">
          <a href="/" class="underline font-semibold">
            Home
          </a>
        </nav>
      )
    }
    <slot />
    <canvas></canvas>
  </body>
</html>
